<h3><%= t('view.label_index') %></h3>

<div class='label-list'>
  <table class='table'>
    <thead class='thead-light'>
      <tr>
        <th><%= Label.human_attribute_name(:name) %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @labels&.each do |label| %>
        <tr>
          <td>
            <%= label.name %>
          </td>
          <td class='text-right'>
            <%= link_to t('view.delete'), label, method: :delete, class: 'btn btn-outline-dark' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
